.rContainer {
  padding: 100px 0;
}

.rContainer h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.rContainer h3 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-align: center;
}
.Recommendedtext {
  padding: 50px 0;
  line-height: 60px;
  margin-left: 10px;
}

div {
  display: block;
}

.imgContainer3 {
  float: right;
}

#recommendations {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 62%,
    rgba(255, 255, 255, 1) 65%,
    rgba(68, 111, 217, 1) 95%
  );
}
