.WorkoutsContainer {
  padding: 50px 0;
}

.WorkoutsContainer h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.WorkoutsContainer h3 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-align: center;
}

.workoutslayout {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 10rem;
  font-size: 40px;

  margin-left: 100px;
  float: left;
}

img {
  width: 100%;
  height: auto;
}

.Workouttext {
  padding: 100px 0;
  line-height: 60px;
}

div {
  display: block;
}

.imgContainer {
  float: left;
}
.zoom {
  padding: 50px;

  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  width:300px;
}

.zoom:hover {
  transform: scale(2);
}

.zoom-in {cursor: zoom-in;}